<!-- Это родительский шаблон. Все повторяющиеся куски кода помещаем в этот шаблон. Он распологается, в папке
templates в корневой директории проекта. Изменяемые куски кода заменяем тегами block. Путь к этому файлу прописываем
в переменной TEMPLATES в settings.py. -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css_additional %} {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>
