{% extends  'base.html' %}
<!-- Расширяем родительский шаблон. -->

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock %}
<!-- В блоки помещаем необходимый нам контент. -->

{% block content %}
    {% include 'includes/navbar.html' %}
    <ul>
        {% for type in types %}
        <li><a href="{% url 'horoscope_value' zodiac_value=type %}">{{type|title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}