{% extends  'base.html' %}
<!-- Расширяем родительский шаблон. -->

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css' %}">
{% endblock %}

{% block title %}
    Гороскоп для {{name|capfirst}}
{% endblock %}
<!-- В блоки помещаем необходимый нам контент. -->

{% block content %}
    {% include 'includes/navbar.html' %}
    {% if description_zodiac is None %}
        <p>Неправильный знак зодиака - {{name|capfirst}}</p>
    {% else %}
        <p>{{description_zodiac|capfirst}}</p>
    {% endif %}
{% endblock %}