{% extends 'movie_app/base.html' %}

{% block title %}
    All movies
{% endblock %}

{% block content %}
    <h2>All movies list</h2>
    <ul>
        {% for movie in movies %}
            <li><a href="{{movie.get_url}}">{{ movie.name }}</a></li>
            <!-- Используем вновь созданный нами метод класса get_url, чтобы создать ссылку на страницу с информацией
             о фильме. -->
        {% endfor %}
    </ul>
    <h3>Средний бюджет - {{agg.budget__avg}}</h3>
    <h3>Минимальный рейтинг - {{agg.rating__min}}</h3>
    <h3>Максимальный рейтинг - {{agg.rating__max}}</h3>
    <!-- Так как переменная agg, которая сюда пришла, является словарем, получим нужные нам значения известным
    способом.  -->
{% endblock %}
