{% extends 'movie_app/base.html' %}

{% block title %}
    Movie Info
{% endblock %}

{% block content %}
    <h2>Information about {{ movie.name }}</h2>
    <h3>Rating - {{ movie.rating }}</h3>
    <h3>Budget - {{ movie.budget }}</h3>
    <h3>Year - {{ movie.year }}</h3>
    <hr>
    <h3>About Director</h3>
    <h3>Name {{ movie.director.first_name }}</h3>
    <h3>Surname {{ movie.director.last_name }}</h3>
    <h3>Email {{ movie.director.director_email }}</h3>
    <hr>
    <h3>Actors List</h3>
    <ul>
        {% for actor in movie.actors.all %}
            <li>{{ actor }}</li>
        {% endfor %}
    </ul>
{% endblock %}
<!-- Этот блок наполняем информацией о фильме, обращаясь к столбцам базы данных по экземлярам класса. -->